<div class="blog-container container mt-5 col-12">
    <div class="card news-card p-3 bg-white">
        <img src="~/images/slide3.jpg" alt="news">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
            </p>
            <a href="post.html" class="btn btn-outline-secondary">Go somewhere</a>
        </div>
    </div>
</div>