@model BlogItem
    <div class="card news-card p-3 bg-white">
        <img src="~/images/@Model.TitleImagePath" alt="news">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text blog-card-text">
                @Model.Subtitle
            </p>
            <a asp-area="" asp-controller="Post" asp-action="Post" asp-route-id="@Model.Id" class="btn btn-outline-secondary">See more</a>
        </div>
    </div>
