@model PageViewModel
@{
    ViewBag.Title = Model.TextField.Name + " | " + Config.CompanyName;
    ViewBag.Description = Model.TextField.MetaDescription;
    ViewBag.Keywords = Model.TextField.MetaKeyords;
}

<section class="blog">
    <div class="container">
        <h2>@Model.TextField.Name</h2>
    </div>
    <div class="blog-container container mt-5 col-12">

        @if (Model.BlogItems.Any())
        {
            @foreach (var item in Model.BlogItems)
            {
                @await Html.PartialAsync("BlogCardPartial", item)
            }
        }
    </div>
</section>