@*In nav class "active" avalible*@

<section class="blog">
    <div class="container">
        <h2>Блог</h2>
    </div>
    <div class="blog-container container mt-5 col-12">

        @Html.PartialAsync("BlogCardPartial")

    </div>
</section>