@model TextField
@{
    ViewBag.Title = Model.Name + " | " + Config.CompanyName;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeyords;
}
<div class="container">
    <h1>@Html.Raw(Model.Name)</h1>
    @Html.Raw(Model.Description)
</div>
