@model BlogItem

@{
    ViewBag.Title = Model.Name + " | " + Config.CompanyName;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeyords;
}

<section class="post">
    <div class="container">
        <img src="~/images/@Model.TitleImagePath" alt="">
        <div class="text">
            <h2>@Model.Name</h2>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </div>
    </div>
</section>